html, body, p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.app-sidebar {
  width: 35%;
}

.unit-flex {
  display: flex;
}

.unit-inline-block {
  display: inline-block;
}

.unit-x-center {
  align-items: center;
}

.unit-y-center {
  justify-content: center;
}

.units-row {
  flex-direction: row;
}

.units-column {
  flex-direction: column;
}

.horizontal-center {
  align-content: center;
}

.vertical-center {
  justify-content: center;
}

.unit-40 {
  width: 40%;
}

.unit-60 {
  width: 60%;
}