.full-height {
  height: 100%;
}

.app-sidebar {
  width: 35%;
}

.unit-flex {
  display: flex;
}

.units-row {
  flex-direction: row;
}

.units-column {
  flex-direction: column;
}

.unit-40 {
  width: 40%;
}

.unit-60 {
  width: 60%;
}